{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1><span style="padding: 0px 20px;">&nbsp;</span>Вот что я умею:</h1>
  <aside class="col-12 col-md-3 text-center" >
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>В течение двух недель я пытался разобратся с данным спринтом, задачи хоть и были интересными, но мне было достаточно сложно.<br><br>
      Я очень старался делать все самостоятельно, но время от времени приходилось обращаться за помощью к гуглу или читать треды в Пачке. 
      Считаю это тоже крутым опытом. Я постарался сделать все дополнительные задания, которые в последствии оказались обязательными.<br><br>
      Трудно запомнить весь объем информации и с легкостью применять его на практике, но я достаточно неплохо ориентируюсь
      в разделах теории, чтобы быстро найти необходимый мне ответ.</p>
  </article>
</div>
{% endblock %}