{% load thumbnail %}
<link rel="stylesheet" href="yatube/static/css/style.css" type="text/css"/>
<article>
  <a>Автор:{{ post.author.get_full_name }}</a><br>
  {% if not check_author %}<a href="{% url 'posts:profile' post.author.username %}">Профиль автора</a><br>{% endif %}
  <a>Дата публикации: {{ post.pub_date|date:"d E Y" }}</a>
  {% thumbnail post.image "3024x1964" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
  <p>{{ post.text|linebreaksbr }}</p>
  <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a><br>
  {% if not check_group %}
    {% if post.group %}
      <a href="{% url 'posts:group_list' post.group.slug %}">#{{post.group}}</a>
    {% else %}
      <span style='color: red'>Этой публикации нет ни в одном сообществе.</span>
    {% endif %}
  {% endif %}
</article>